name: Deployment Workflow

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Start deployment
        run: echo "Début du déploiement"

      - name: Use secret
        run: echo "Token = ${{ secrets.DEPLOY_TOKEN }}"

      - name: End deployment
        run: echo "Déploiement terminé par Nom Prenom"

